body {
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
}

#loading {
  position: absolute;
  top: 5px;
  right: 5px;
}

#calendar {
  width: 900px;
  margin: 40px auto 0;
}

#calendar a {
  text-decoration: none;
}

#calendar a:hover {
  color: #0d5a8a;
}

#calendar .fc-header-title h2 {
  color: #444;
  /*    font: 300 30px/1 "proxima-nova", sans-serif; */
  font-weight: normal;
  text-transform: uppercase;
}

#calendar thead th {
  background: #d32fa2 none;
  border: 2px solid #fff;
  color: #fefefe;
  font: 300 16px/1 "proxima-nova", sans-serif;
  padding: 6px;
  text-transform: uppercase;
}

#calendar .fc-day-number {
  color: #64b0b3;
  font-size: 16px;
  font-weight: bold;
}

#filters .select2-container {
  width: 100%;
}

/*
  * the setup class is is where you define the transition code and where
    you define any initialization styles for your animation.

  * the start class is where the animation occurs. So setup any of the
    styles that you wish to animate. Also note that you must include both
    classes together so that the animation styles are not conflicting with
    the setup styles (this avoids any CSS-specificity issues).
*/
.mycss-animation-setup {
  -webkit-transition:0.3s linear all;
  -moz-transition:0.3s linear all;
  -o-transition:0.3s linear all;
  transition:0.3s linear all; /* future proof */

  background:red;
}
.mycss-animation-setup.mycss-animation-start {
  background:blue;
}