body {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
}

#loading {
  position: absolute;
  top: 5px;
  right: 5px;
}

#calendar {
  width: 900px;
  margin: 20px auto 0;
}

#calendar a {
  text-decoration: none;
}

#calendar a:hover {
  color: #0d5a8a;
}

#calendar .fc-header-title h2 {
  color: #444;
  /*    font: 300 30px/1 "proxima-nova", sans-serif; */
  font-weight: normal;
  text-transform: uppercase;
}

#calendar thead th {
  background: #d32fa2 none;
  border: 2px solid #fff;
  color: #fefefe;
  font: 300 16px/1 "proxima-nova", sans-serif;
  padding: 6px;
  text-transform: uppercase;
}

#calendar .fc-day-number {
  color: #64b0b3;
  font-size: 16px;
  font-weight: bold;
}

#filters .select2-container {
  width: 900px;
}
#filters .select2-container-multi .select2-choices {
  border-color: #eef;
}

/* events colors */
.event-us_holidays,
.fc-agenda .event-us_holidays .fc-event-time,
.event-us_holidays a {
  background-color: #CDFAF5;
}

.event-lundstrum,
.fc-agenda .event-lundstrum .fc-event-time,
.event-lundstrum a {
  background-color: #0088CC;
}

.event-lowry_bz_assn,
.fc-agenda .event-lowry_bz_assn .fc-event-time,
.event-lowry_bz_assn a {
  background-color: #A6EAF5;
}

.event-wbc_farmers_market,
.fc-agenda .event-wbc_farmers_market .fc-event-time,
.event-wbc_farmers_market a {
  background-color: #57ADBA;
}

.event-northwest_bz_assn,
.fc-agenda .event-northwest_bz_assn .fc-event-time,
.event-northwest_bz_assn a {
  background-color: #AFC7ED;
}

.event-camden_comm,
.fc-agenda .event-camden_comm .fc-event-time,
.event-camden_comm a {
  background-color: #DAAFED;
}

.event-lindbohanon,
.fc-agenda .event-lindbohanon .fc-event-time,
.event-lindbohanon a {
  background-color: #F294DB;
}

.event-cleveland,
.fc-agenda .event-cleveland .fc-event-time,
.event-cleveland a {
  background-color: #AFF294;
}

.event-homewoodstudios,
.fc-agenda .event-homewoodstudios .fc-event-time,
.event-homewoodstudios a {
  background-color: #7DA36D;
}

.event-hnampls,
.fc-agenda .event-hnampls .fc-event-time,
.event-hnampls a {
  background-color: #F5E2BF;
}

.event-webbercamden,
.fc-agenda .event-webbercamden .fc-event-time,
.event-webbercamden a {
  background-color: #FAFAAC;
}

.event-wbc,
.fc-agenda .event-wbc .fc-event-time,
.event-wbc a {
  background-color: #FACAAC;
}

.event-jordan_area,
.fc-agenda .event-jordan_area .fc-event-time,
.event-jordan_area a {
  background-color: #BF642C;
}

.event-nacarts,
.fc-agenda .event-nacarts .fc-event-time,
.event-nacarts a {
  background-color: #41782E;
}