<!DOCTYPE html>
<html data-ng-app="calApp">
<head>
  <link href="css/vendors/fullcalendar.css" rel="stylesheet">
  <link href="css/vendors/fullcalendar.print.css" rel="stylesheet" media="print">
  <link href="css/style.css" rel="stylesheet">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="js/vendors/jquery-ui-1.10.2.custom.min.js"></script>
  <script src="js/vendors/fullcalendar.min.js"></script>
  <script src="js/vendors/gcal.js"></script>
  <script src="js/vendors/js-yaml.min.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script src="js/angular-app/app.js"></script>
  <script src="js/angular-app/contollers/MainCtrl.js"></script>
  <script src="js/angular-app/contollers/CalendarCtrl.js"></script>
  <script src="js/angular-app/services/fullcalendar-helper-service.js"></script>
</head>
<body data-ng-controller="MainCtrl">{{test}}
<div id="loading" data-ng-show="state.loading">loading...</div>

<div id="filters">
  <ul style="text-align: left">
    <li data-ng-repeat="filter in Filters">
      <label>
        <input type="checkbox" data-ng-model="filter.checked" data-ng-change="sourceChanged(filter, $event)">
        <span data-ng-bind="filter.title"></span>
      </label>
    </li>
  </ul>
</div>

<div data-ng-controller="CalendarCtrl">
  <div id="calendar"></div>
</div>

<pre style="text-align: left">{{Filters | json}}</pre>

</body>
</html>